{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_timelocker/locknote

    Student-facing notice telling students when an activity's grade will
    lock, or was locked. Rendered via the Hooks API near the activity dates.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * islocked bool - whether the grade item is already locked
    * date string - the (already formatted) lock date to display

    Example context (json):
    { "islocked": false, "date": "Monday, 1 January 2026, 12:00 AM" }
}}
<div class="tool_timelocker-locknote alert alert-info d-flex align-items-center" role="note">
    {{#pix}} i/lock, core {{/pix}}
    <span class="ms-2">
        {{#islocked}}
            {{#str}} gradelockednote, tool_timelocker, {{date}} {{/str}}
        {{/islocked}}
        {{^islocked}}
            {{#str}} gradelocknote, tool_timelocker, {{date}} {{/str}}
        {{/islocked}}
    </span>
</div>
